# Specify default owners for the entire repository
*        @prashanthPadmasahli
*        


# Ownership for the Xcode project file
*.xcodeproj 

# Ownership for Swift files
*.swift    

# Ownership for Objective-C files
*.m @prashanthPadmasahli
*.h @prashanthPadmasahli

# Ownership for Storyboards and XIBs
*.storyboard @prashanthPadmasahli
*.xib 

# Ownership for assets
*.xcassets @prashanthPadmasahli

# Ownership for test files
Tests/* @prashanthPadmasahli

# Ownership for documentation
docs/* @prashanthPadmasahli

# Ownership for CI/CD configurations
.github/workflows/* 
